<a href="https://colab.research.google.com/github/fatemehkarimii/Pandas-Tutorial/blob/main/1_PandasSeries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#What is a Series?
A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [1]:
import pandas as pd
a = [1, 7, 2]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

#Labels
If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.

This label can be used to access a specified value.

In [3]:
print(myvar[0])
print(myvar[1])

1
7

#Create Labels
With the index argument, you can name your own labels.

In [4]:
import pandas as pd

a = [1, 7, 2]
myvar = pd.Series(a, index = ["x", "y", "z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

When you have created labels, you can access an item by referring to the label.

In [5]:
print(myvar["y"])

7

#Key/Value Objects as Series
You can also use a key/value object, like a dictionary, when creating a Series.

Note: The keys of the dictionary become the labels.

In [6]:
import pandas as pd
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

To select only some of the items in the dictionary, use the index argument and specify only the items you want to include in the Series.

In [7]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

#DataFrames
Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

Series is like a column, a DataFrame is the whole table.

In [8]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45